/*common*/
:root {
  --background-color: #ffffff;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --primary-accent-color: #4d5ae5;
  --main-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --secondary-btn-color: #404bbf;
  --footer-text-color: #e7e9fc;
  --card-set-gap: 24px;
  --card-top-gap: 48px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--main-text-color);
  background-color: var(--background-color);
  font-family: "Roboto", "Verdana", "Helvetica", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  list-style: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.no-scroll {
  overflow: hidden;
}

/*HEADER*/
.logo {
  color: var(--main-text-color);
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-start {
  color: var(--primary-accent-color);
}

.burger-button {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 32px;
  height: 22px;
}

header > .container {
  display: flex;
  padding: 24px 16px;
  border-bottom: 1px solid rgba(46, 47, 66, 0.08);
}

.site-nav .link {
  display: block;
  position: relative;

  color: inherit;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--secondary-text-color);
}

.site-nav .link:active {
  color: var(--primary-accent-color);
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  transform: translateY(600%);
}

.contacts .link {
  display: block;
  margin: 0;
  color: inherit;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.33;
  text-decoration: none;
}




/*HERO*/
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  max-width: 318px;
  margin-bottom: 72px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--primary-white-color);
}

.hero {
  text-align: center;
  background-color: var(--main-text-color);
  padding: 112px 0px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  height: 432px;
  max-width: 428px;
  background-size: cover;
}









/*FEATURES*/

.features-section {
  padding: 96px 0;
}

.features {
  padding: 0;
  margin: 0;
}

.feature-ttl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 8px;
}

.feature-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
}

.features > .item:not(:last-child) {
  margin-bottom: 72px;
}











/*TEAM*/

.team {
  background-color: var(--secondary-white-color);
  padding-top: 96px;
  padding-bottom: 128px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  padding: 0;
  margin: 0;
}

.team-cards .item {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 264px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-cards .item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.member-detail {
  padding: 32px 0px;
  margin: 0px auto;
}

.card-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  background-color: var(--background-color);
}

.card-category {
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  background-color: var(--background-color);
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0;
  margin-top: 8px;
}

.media-button {
  display: block;
  height: 40px;
  width: 40px;
  padding: 12px;
  background: #4d5ae5;
  border-radius: 50%;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-button:hover {
  background: #404bbf;
}





/*CUSTOMERS*/

.customers {
  padding: 96px 0;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  margin: 0 auto;
  padding: 0;
  align-content: center;
  justify-content: center;
}

.customer-item {
  display: flex;
  flex-basis: calc((100% / 2) - 12px);
  width: 100%;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: #8e8f99;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-item:hover,
.customer-item:focus {
  fill: #4d5ae5;
  border-color: #4d5ae5;
}





/*FOOTER*/

.page-footer {
  padding: 96px 0;
  background-color: var(--main-text-color);
}

.footer-txt {
  text-align: center;
}

.logo-bottom {
  width: 100%;
  color: var(--secondary-white-color);
}

.footer-text {
  text-align: left;
  max-width: 268px;
  line-height: 1.5;
  color: var(--footer-text-color);
  margin: 16px auto 72px auto;
}

.footer-media {
  padding-bottom: 72px;
}

.footer-media > h2,
.subscribe-title {
  text-align: center;
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.media-button-f {
  display: block;
  height: 40px;
  width: 40px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-button-f:focus,
.media-button-f:hover {
  background: #31d0aa;
}

.button.subscribe {
  display: flex;
  padding: 8px 24px;
  border-radius: 4px;
  height: 40px;
  width: 165px;
  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  line-height: 1.5em;
  font-size: 16px;
  font-weight: 500;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.subscribe:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.button.subscribe:active {
  background-color: var(--secondary-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 16px;
}
.subsc-svg {
  margin-left: 16px;
}

.email-box-wrap {
  width: 100%;
}
.email-box {
  margin: 0px auto;
  width: 100%;
  max-width: 396px;
  height: 40px;
  padding: 8px 16px;
  color: var(--primary-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}





/*buttons*/

.button {
  display: inline-block;
  border: 1px solid transparent;

  font-family: Roboto;
  font-weight: 600;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.button.order {
  padding: 16px 32px;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  line-height: 1.19;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.order:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.button.order:active {
  background-color: var(--secondary-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* form and backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: flex;
  height: 576px;
  width: 408px;
  left: 50%;
  top: 50%;
  padding: 24px;
  opacity: 1;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0.85);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  display: flex;
  margin-left: auto;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.close-button-icon {
  display: block;
  fill: #000;
  width: 8px;
  height: 8px;
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-button:hover > .close-button-icon,
.close-button:focus > .close-button-icon {
  fill: #fff;
}

.form-title {
  display: block;
  margin-top: 24px;
  margin-bottom: 6px;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.field-name {
  display: block;
  position: relative;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  text-align: left;
}

.field-input {
  display: block;
  position: relative;
  margin-top: 4px;
  width: 360px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px 8px 38px;
}

.form-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(16px, 30px);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-input.comment {
  height: 120px;
  resize: none;
  padding-left: 16px;
}

.field-input:focus-within + .form-icon {
  fill: #404bbf;
}

.field-name:focus-within > .field-input {
  border-color: #404bbf;
}

.terms-checkbox {
  display: block;
  margin-top: 16px;
  margin-bottom: 24px;
  text-align: left;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  padding: 4px 3px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  vertical-align: text-bottom;
  fill: #fff;
}

.checkbox:checked + .checkbox-icon {
  background-color: #4d5ae5;
  border: none;
  fill: #fff;
}

.policy {
  text-decoration: underline;
  color: #4d5ae5;
}

.button.send {
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  width: 169px;
  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  line-height: 1.5em;
  font-size: 16px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.send:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.button.send:active {
  background-color: var(--secondary-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/*filters*/
.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
  padding-left: 0;
  
}

.button.filter {
  padding: 12px 24px;

  color: var(--primary-accent-color);
  background-color: var(--secondary-white-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.filter:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.filter:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}


/*cards*/
  
.card-set {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  row-gap: 48px;
}

.card-set > .item {
  position: relative;
  flex-basis: 396px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.card-pic {
  overflow: hidden;
  position: relative;
  
}

.card-set > .item:hover,
.card-set > .item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set .card-link:hover .card-overlay,
.card-set .card-link:focus .card-overlay {
  transform: translateY(-100%);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 300px;
  background: #4d5ae5;
  left: 0;
  top: 300px;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  overflow: auto;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.card-detail {
  padding: 32px 16px;
  border-bottom: solid #f4f4fd 0.5px;
  border-left: solid #f4f4fd 0.5px;
  border-right: solid #f4f4fd 0.5px;
}





.card-text {
  line-height: 1.5;
  color: var(--secondary-white-color);
}

.centered {
  text-align: center;
}