/*desktop header*/
@media screen and (min-width: 1200px) {
    .container {
      width: 1158px;
      padding-right: 15px;
      padding-left: 15px;
    }
  
    .logo {
      line-height: 1.33;
    }
  
    .burger-button {
      display: none;
    }
  
    header > .container {
      padding-bottom: 27px;
      width: 1158px;
    }
  
    .site-nav.list {
      padding-left: 76px;
    }
  
    .contacts .link {
      line-height: 1.5;
      font-size: 16px;
      letter-spacing: 0.02em;
    }
  
    .contacts.list {
      display: flex;
      gap: 40px;
    }
  
    .link.email {
      padding-bottom: 0px;
    }
  
    .site-nav .link.current::after {
      transform: translateY(700%);
    }
  

  /*desktop header*/

    .hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-desktop.jpg");
      height: 600px;
      max-width: 1440px;
      padding: 188px 0;
    }
  
    .hero-title {
      margin-bottom: 48px;
    }
}

  
  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-desktop@2x.jpg");
  }
}

/*desktop features*/
@media screen and (min-width: 1200px) {
    .feature-img {
      display: flex;
      height: 112px;
      width: 264px;
      background: #f4f4fd;
      border-radius: 4px;
      margin-bottom: 8px;
      align-items: center;
      justify-content: center;
    }
  
    .features > .item {
      width: 264px;
    }
  
    .features > .item:not(:last-child) {
      margin-bottom: 0px;
    }
  
    .features-section {
      padding: 120px 0px;
    }
  
    .feature-ttl {
      font-size: 20px;
      line-height: 1.2;
    }
  
    .feature-txt {
      font-weight: 400;
    }
  }


  /*desktop what-are-we-doing*/
.section-ttl {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  
  .category-section {
    padding-bottom: 120px;
  }
  
  .category {
    display: flex;
    padding: 0;
    gap: 24px;
  }

  /*desktop team*/
@media screen and (min-width: 1200px) {
    .customers-list {
      flex-wrap: nowrap;
    }
  


  /*desktop footer*/

    .footer-block {
      padding-left: 15px;
      column-gap: 0px;
      margin: 0 auto;
    }
  
    .page-footer {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  
    .footer-text {
      margin-bottom: 0;
    }
  
    .footer-txt {
      margin-right: 120px;
    }
  
    .footer-media {
      margin-right: 80px;
      padding-bottom: 0;
    }

/*portfolio*/
   .portfolio{
    padding-bottom: 120px;
   }

   .filters {
    margin-bottom: 72px;
   }

   .card-set {
    row-gap: 48px;
   }

   .card-set > .item {
    max-width: 360px;
  }

  }